@{
    Layout = null;
    //ViewData[""]
}

<script>
    function onPopResize(args) {
        $('#fb-pop .browser').css("min-height", parseFloat($('#fb-pop .dx-popup-content').css('height')) - 50 + "px");
    }
    $(document).ready(function () {
        $('#fb-cancel').on('click', function () {
            $('#fb-pop').dxPopup('hide');
        });
        $(document).on("click", "#fb-manager > .item", function () {
            window.open("@ViewData["BaseUrl"]/files/sales_detail/" + $(this).data("name") + ".xlsx")
        });
        SendAPI("", "@ViewData["BaseUrl"]/api/files/sales_detail", false, function (data, status, xhr) {
            if (data.status == "error") {
                $('#fb-pop').dxPopup('hide');
                showAlert("Error", data.desc);
            } else if (data.status == "success") {
                for (var index in data.files) {
                    var div = "<div class='item' data-name='" + data.files[index].Filename + "' title='" + (data.files[index].Type == 'FILE' ? "Click to download it in " + data.files[index].FileType + " Format" : "Click to see inside of it") + "'>" +
                        "<img src='@ViewData["BaseUrl"]/images/" + data.files[index].Ico + "'/>" +
                        "<div class='item-title'>"+ data.files[index].Filename +"</div>" +
                        "</div>"
                    $("#fb-manager").append($(div));
                }
                //onPopResize();
            }
        }, function (xhr, status, err) {
            console.log(xhr, status, err);
        })
    });

</script>

@(Html.DevExtreme().Popup()
    .ID("fb-pop").Title((string)ViewData["Title"])
    .Visible(false).CloseOnOutsideClick(false)
    .ShowCloseButton(true)
    .Content(
@<div class="popup">
    <div id="fb-manager" class="browser popup-content">

    </div>
    <div class="popup-footer">
        @(Html.DevExtreme().Button().Text("Cancel").ID("fb-cancel"))
    </div>
</div>)
    //.OnContentReady("onPopResize")
//.Width("500px").Height("350px")
)

<style>
    
</style>